In [900]:
import ast
import numpy as np
import pandas as pd

In [901]:
movies=pd.read_csv('movies_metadata.csv')

C:\Users\eslam\AppData\Local\Temp\ipykernel_16616\3959061764.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_metadata.csv')

In [902]:
movies.drop(["revenue","budget",'status', 'spoken_languages','tagline','video','adult','genres','imdb_id','homepage','belongs_to_collection','belongs_to_collection','production_countries'], axis=1, inplace=True)
display(movies.isnull().sum(axis=0))
display(movies.shape)
movies=movies.dropna()
display(movies.shape)

id                        0
original_language        11
original_title            0
overview                954
popularity                5
poster_path             386
production_companies      3
release_date             87
runtime                 263
title                     6
vote_average              6
vote_count                6
dtype: int64

(45466, 12)

(44118, 12)

In [903]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name']) 
    try:
        return L[0]
    except IndexError:
        return None 
movies['production_company'] = movies['production_companies'].apply(convert)

In [904]:
movies.isna().sum()
movies=movies.dropna()
movies.drop(['production_companies'], axis=1, inplace=True)
movies.isna().sum()
display(movies.shape)

(33109, 12)

In [905]:
movies=movies.drop(movies[(movies['runtime'] < 3) | (movies['vote_average'] == 0) | (movies['vote_count'] < 150) ].index)
movies.shape

(4714, 12)

In [906]:
movies.describe()

           runtime  vote_average    vote_count
count  4714.000000   4714.000000   4714.000000
mean    108.042003      6.464425    897.083157
std      25.268789      0.840022   1276.776857
min       3.000000      2.900000    150.000000
25%      95.000000      5.900000    238.000000
50%     105.000000      6.500000    413.000000
75%     118.000000      7.100000    953.000000
max     705.000000      9.100000  14075.000000

In [907]:
movies.reset_index(drop=True, inplace=True)
for i in range(len(movies['original_language'])):
    if movies['original_language'][i] not in ['en','fr','ja','es','it','de','ko','cn','zh','da','sv','pt','th','no']:
        
        movies['original_language'][i]= None

        
movies=movies.dropna()

movies.loc[movies['original_language'] == 'en', 'original_language'] = "English"
movies.loc[movies['original_language'] == 'fr', 'original_language'] = "French"
movies.loc[movies['original_language'] == 'ja', 'original_language'] = "Japanese"
movies.loc[movies['original_language'] == 'es', 'original_language'] = "Spanish"
movies.loc[movies['original_language'] == 'it', 'original_language'] = "Italian"
movies.loc[movies['original_language'] == 'de', 'original_language'] = "German"
movies.loc[movies['original_language'] == 'ko', 'original_language'] = "Korean"
movies.loc[movies['original_language'] == 'cn', 'original_language'] = "Chinese"
movies.loc[movies['original_language'] == 'zh', 'original_language'] = "Chinese"
movies.loc[movies['original_language'] == 'da', 'original_language'] = "Danish"
movies.loc[movies['original_language'] == 'sv', 'original_language'] = "Swedish"
movies.loc[movies['original_language'] == 'pt', 'original_language'] = "Portegues"
movies.loc[movies['original_language'] == 'th', 'original_language'] = "Thai"
movies.loc[movies['original_language'] == 'no', 'original_language'] = "Noirwegeian"

C:\Users\eslam\AppData\Local\Temp\ipykernel_16616\3246493461.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['original_language'][i]= None

In [908]:
movies["original_language"].value_counts()

English        4216
French          189
Japanese         70
Italian          51
Spanish          39
Chinese          30
German           29
Korean           19
Danish           15
Swedish          11
Portegues         6
Thai              4
Noirwegeian       3
Name: original_language, dtype: int64

In [909]:
movies['id'] = movies['id'].astype('int')
movies['runtime'] = movies['runtime'].astype('int')
movies['popularity'] = movies['popularity'].astype('float')
movies['release_date'] = pd.to_datetime(movies['release_date'], format='%Y-%m-%d')
movies.dtypes

id                             int32
original_language             object
original_title                object
overview                      object
popularity                   float64
poster_path                   object
release_date          datetime64[ns]
runtime                        int32
title                         object
vote_average                 float64
vote_count                   float64
production_company            object
dtype: object

In [910]:
movies.shape

(4682, 12)

In [911]:
movies.to_csv('Movies.csv',index=False)